@import "reset.scss";

/*
 * Variables
 */
$colour-main: #009000;
$white: #fff;
$border-radius: 1rem;


/*
 * Classes
 *
.skills-safari
	.saf-areas
		.saf-areas-item
	.saf-skills
		.saf-skills-item
			.saf-more		// Used when additional information is available
			.saf-no-more	// Used when additional information has been visible
 */


/*
 * Basic styling
 */
*, *:before, *:after {
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
}

body {
	font-family: open sans, sans-serif;
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	margin: 0.5rem;
}

.skills-safari ::selection {
	background-color: $colour-main;
	color: $white;
}

.saf-areas-item, .saf-skills-item {
	display: inline-block;
	color: $colour-main;
	border: 2px solid transparent;
	border-radius: $border-radius;
	margin: 0.5rem;
	padding: 1rem;
	text-align: left;

	&.saf-more:after, &.saf-no-more:after {
		content: ' \00b7';
		font-weight: bold;
	}

	&.saf-no-more:after {
		color: rgba($colour-main, 0.4);
	}

	&.saf-active {
		color: rgba($colour-main, 1);
		border-color: $colour-main;
		&.saf-more, &.saf-no-more {
			cursor: pointer;
		}
	}
}

.saf-areas {
	border: 2px solid #f1f1f1;
	border-radius: $border-radius;
}

.saf-areas-item {
	&:not(.saf-active) {
		cursor: pointer;
	}
}

.saf-skills-item {
	color: rgba($colour-main, 0.4);
	z-index: 1;
	&.popup {
		display: none;
		z-index: 2;
		&.saf-more:after, &.saf-no-more:after {
			content: '';
		}
	}
	&.saf-skills-item-open {
		display: inline-block;
		position: absolute;
		width: 100%;
		max-width: 250px;
		background-color: rgba($white, 0.8);
	}
}

.saf-active {
	border-color: $colour-main;
}