@import "reset.scss";

/*
 * Variables
 */
$colour-main: #009000;


/*
 * Classes
 *
.skills-safari
	.saf-area
		.saf-area-item
	.saf-skills
		.saf-skills-item
			.saf-more		// Used when additional information is available
			.saf-no-more	// Used when additional information has been visible
 */


/*
 * Basic styling
 */
*, *:before, *:after {
	box-sizing: border-box;
	transition: all 400ms ease-in-out;
}

body {
	font-family: open sans, sans-serif;
	padding: 1rem;
}

h1 {
	font-size: 2rem;
	margin: 0.5rem;
}

.saf-area-item, .saf-skills-item {
	display: inline-block;
	color: $colour-main;
	border: 2px solid transparent;
	border-radius: 1rem;
	margin: 0.5rem;
	padding: 1rem;
	text-align: center;

	&.saf-more:after, &.saf-no-more:after {
		content: ' \00b7';
		font-weight: bold;
	}

	&.saf-no-more:after {
		opacity: 0.4;
	}

	&.saf-active {
		opacity: 1;
		border-color: $colour-main;
		&.saf-more, &.saf-no-more {
			cursor: pointer;
		}
	}
}

.saf-area-item {
	&:not(.saf-active) {
		cursor: pointer;
	}
}

.saf-skills-item {
	opacity: 0.4;
}

.saf-active {
	border-color: $colour-main;
}