@import "reset.scss";

/*
 * Variables
 */
$colour-main: #009000;
$white: #fff;
$grey-light: #ccc;
$border-radius: 1rem;

/*
 * Basic styling
 */
*, *:before, *:after {
	box-sizing: border-box;
	transition: all 300ms ease-in-out;
}

body {
	font-family: open sans, sans-serif;
	padding: 1rem;
}

a {
	color: $colour-main;
}

h1 {
	font-size: 2rem;
	margin: 0.5rem;
}

.skills-safari ::selection {
	background-color: $colour-main;
	color: $white;
}

.saf-areas-item, .saf-skills-item {
	display: inline-block;
	color: $colour-main;
	border: 2px solid transparent;
	border-radius: $border-radius;
	margin: 0.5rem;
	padding: 1rem;
	text-align: left;

	&.saf-more:after, &.saf-no-more:after {
		content: ' \00b7';
		font-weight: bold;
	}

	&.saf-no-more:after {
		color: rgba($colour-main, 0.2);
	}

	&.saf-active {
		color: rgba($colour-main, 1);
		border-color: $colour-main;
		&.saf-more, &.saf-no-more {
			cursor: pointer;
		}
	}
}

.saf-areas {
	border: 2px solid $grey-light;
	border-radius: $border-radius;
}

.saf-areas-item {
	&:not(.saf-active) {
		cursor: pointer;
	}
}

.saf-skills-wrapper {
	position: relative;
}

.saf-skills-item {
	color: rgba($colour-main,0.4);
	z-index: 1;
	&.saf-popup {
		display: none;
		opacity: 0;
		z-index: 2;
		left: 0;
		width: 250px;
		cursor: initial!important;
		box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.2);
		&.saf-more:after, &.saf-no-more:after {
			content: '';
		}
	}
	&.saf-skills-item-open {
		display: inline-block;
		position: absolute;
		background-color: $white;
		span {
			border-bottom: 2px solid $grey-light;
		}
	}
	.saf-skills-item-more {
		padding-top: 10px;
		line-height: 1.25em;
	}
}

.saf-close {
	float: right;
	position: relative;
	top: -2px;
	text-decoration: none;
	color: $grey-light;
	opacity: 0.6;
	&:hover {
		opacity: 1;
	}
}

.saf-active {
	border-color: $colour-main;
}