@import "reset.scss";

/*
 * Variables
 */
$colour-first: #2c2c29;
$colour-second: #4e97cc;
$white: #fff;
$grey-light: #ccc;
$grey-lighter: #f1f1f1;

/*
 * Basic styling
 */
.skills-safari {
	*, *:before, *:after {
		box-sizing: border-box;
		transition: all 300ms ease-in-out;
	}
	body {
		font-family: open sans, sans-serif;
		padding: 1rem;
	}
	a {
		color: $colour-first;
	}
}

.skills-safari-heading {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 10px;
	background: $colour-first;
	display: inline-block;
	color: white;
	padding: 4px 10px;
}

.skills-safari ::selection {
	background-color: $colour-first;
	color: $white;
}

.saf-areas-item, .saf-skills-item {
	display: inline-block;
	color: $colour-first;
	margin: 0.5rem;
	padding: 0.5rem;
	text-align: left;

	&.saf-more:after, &.saf-no-more:after {
		content: ' \00b7';
		font-weight: bold;
	}

	&.saf-more:after {
		color: $colour-second;
	}

	&.saf-no-more:after {
		color: rgba($colour-first, 0.2);
	}

	&.saf-active {
		color: rgba($colour-first, 1);
		&.saf-more, &.saf-no-more {
			cursor: pointer;
		}
	}
}

.saf-areas {
	display: inline-block;
	padding: 0.5rem 10px 1.5rem;
	&:before {
		content: 'Filter:';
	}
	.saf-areas-item {
		border: 2px solid transparent;
		&.saf-active {
			border-color: $grey-light;
			background-color: $grey-lighter;
		}
		&:not(.saf-active) {
			border-bottom-color: $grey-light;
			cursor: pointer;
		}
	}
}

.saf-skills-wrapper {
	position: relative;
}

.saf-skills-item {
	border: 2px solid transparent;
	color: rgba($colour-first,0.4);
	z-index: 1;
	&.saf-active {
		border-color: $grey-light;
	}
	&:not(.saf-active) {
		&:after {
			opacity: 0.5;
		}
	}
	&.saf-popup {
		display: none;
		opacity: 0;
		z-index: 2;
		left: 0;
		width: 250px;
		cursor: initial!important;
		box-shadow: 2px 3px 10px -3px rgba(0,0,0,0.2);
		&.saf-more:after, &.saf-no-more:after {
			content: '';
		}
	}
	&.saf-skills-item-open {
		display: inline-block;
		position: absolute;
		background-color: $grey-lighter;
		span {
			border-bottom: 2px solid $grey-light;
		}
	}
	.saf-skills-item-more {
		padding-top: 10px;
		line-height: 1.25em;
	}
}

.saf-close {
	float: right;
	position: relative;
	top: -2px;
	text-decoration: none;
	color: $grey-light;
	opacity: 0.6;
	&:hover {
		opacity: 1;
	}
}

.saf-active {
	border-color: $colour-first;
}